* {
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: grid;
  height: 293px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.menu_list{
  display: flex;
  gap: 31px;
  list-style: circle;
}

.menu_list-element-first{
  list-style: none;
}

.logo-black{
  display: block;
  width: 148px;
  height: 105px;
  padding: 3px 13px 7px 11px;
}

.address{
  max-width: 240px;
  justify-self: end;
}

.cover{
  position: relative;
  background-size: cover;
  background-image: url('/images/cover.jpg');
  width: 1100px;
  height: 757px;
  z-index: -1;
}

.overlay{
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.title{
}

.element-first{
  display: block;
  position: relative;
  width: 286px;
  height: 115px;
  top: 165px;
  left: 50px;
  z-index: 1;
  font: 700 100px/1.15 "Raleway";
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color:white;
}

.element-second{
  display: block;
  position: relative;
  width: 339px;
  height: 115px;
  top: 185px;
  left: 380.5px;
  z-index: 1;
  text-align: center;
  font: 700 100px/1.15 "Raleway";
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color:white;
}

.element-third{
  display: block;
  position: relative;
  width: 387px;
  height: 115px;
  top: 205px;
  left: 663px;
  z-index: 1;
  font: 700 100px/1.15 "Raleway";
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color:white;
}

.description-text{
  position: absolute;
  width: 637px;
  height: 28px;
  top: 668px;
  left: 50px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #FFF;
  word-spacing: 18px;
}

.button{
  position: absolute;
  display: block;
  border: 2px solid white;
  width: 256px;
  height: 51px;
  top: 656px;
  left: 794px;
  border-width: 1px;
  font-family: Raleway; 
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFF;
}

.lots{
  display: grid;
  margin: 180px 24px 120px 24px;
}

.lots-title{
  width: 121px;
  height: 47px;
  left: 40px;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lot{
  position: relative;
  width: 334px;
  min-height: 596px;
  flex-direction: column;
  border: 2px solid black;
}

.card_img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rezh{
  position: absolute;
  top: 48px;
  left: 40px;
  color: #FFF;
  z-index: 1;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
}

.text{
  position: absolute;
  top: 404px;
  left: 40px;
  color: #FFF;
  z-index: 1;
  width: 254px;
  height: 144px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.text-second{
  position: absolute;
  top: 188px;
  left: 40px;
  color: #FFF;
  z-index: 1;
  width: 254px;
  height: 360px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.text-third{
  position: absolute;
  top: 284px;
  left: 40px;
  color: #FFF;
  z-index: 1;
  width: 254px;
  height: 264px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.more{
  position: relative;
  width: 192px;
  height: 23px;
  top: 30px;
  left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 3px;
}

.about{
  display: grid;
  grid-template-columns: 334px 1fr;
  width: 1052px;
  height: 595px;
  margin: 60px 24px 180px 24px;
}

.black-phon-for-logo {
  position: relative;
  width: 240px;
  height: 240px;
  top: 64px;
  left: 46px;
  z-index: 0;
  background-image: url('/images/Ellipse\ 10.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: auto;
}

.logo-white{
  position: relative;
  width: 148px;
  height: 114px;
  top: 64px;
  left: 46px;
  z-index: 1;
}

.kak{
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  flex-direction: column;
}

.about_title{
  position: relative;
  white-space: nowrap;
  width: 291px;
  height: 47px;
  top: 50px;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.description-block-first{
  position: relative;
  width: 688px;
  height: 120px;
  top: 150px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.description-block-second{
  position: relative;
  width: 693px;
  height: 168px;
  top: 144px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 1100px;
  height: 180px;
  text-align: center;
}

.footer-address{
  text-align: left;
  width: 265px;
  height: 98px;
  margin-left: 50px;
}

.footer_list{
  list-style: none;
  margin-top: 1px;
}

.social_networks{
  display: flex;
  width: 240px;
  height: 48px;
  left: 810px;
  gap: 48px;
  margin-right: 50px;
  margin-left: 89px;
  margin-top: 1px;
}

.youtube{
  width: 48px;
  height: 48px;
}

.vk{
  width: 48px;
  height: 48px;
}

.pin{
  width: 48px;
  height: 48px;
}
